body {
    background-color: #000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    border-radius: 10px;
    font-family: Didot, serif; /* Fonte do cabeçalho */
    font-size: 20px;
    background-color: #4099ffcc; /* Cor de fundo do cabeçalho */
    padding: 10px 20px; /* Espaçamento interno */
    display: flex; /* Usando flexbox para alinhar os itens */
    justify-content: space-between; /* Espaço entre os itens */
    align-items: center; /* Alinhamento vertical */
}
nav {
    display: flex; /* Usando flexbox para os botões */
}
nav a {
    border-radius: 10px; /* Borda arredondada */
    color: white; /* Cor do texto */
    text-decoration: none; /* Remover sublinhado */
    padding: 10px 15px; /* Espaçamento interno dos botões */
    margin: 10px; /* Espaçamento externo dos botões */
    transition: background-color 0.3s; /* Efeito de transição */
}
nav a:hover {
    background-color: #2e27af; /* Cor de fundo ao passar o mouse */
}